:root {

    --color: white;
    --background-color:rgb(170,185,180);
    --background-color:#99CCFF;
    --background-color:steelblue;
    --background-color:#006699;
    /* --background-color:rgba(50, 50, 50, 1); */

    /* --header-bg-color-from:#006699;
    --header-bg-color-to:#00CCFF;
    --header-bg-color-to:#12e2a3;
    --header-bg-color-to:skyblue;
    --header-bg-color-to:#ddf516;
    --header-bg-color-to:yellow;
    --header-font-color:white; */

    /* --header-bg-color-from:rgb(90,155,210);
    --header-bg-color-to:rgb(35,35,150);
    --header-font-color:white; */

    /* --header-bg-color-from:darkseagreen;
    --header-bg-color-to:darkgreen;
    --header-font-color:white; */
 
    /* --header-bg-color-from:tan;
    --header-bg-color-to:brown;
    --header-font-color:white; */

    --header-bg-color-from:#fcff59;
    --header-bg-color-to:#61a3ff;
    --header-bg-color-to:#006699;
    --header-font-color:black;

    /* --footer-bg-color-from:#00CCFF;
    --footer-bg-color-to:#006699;
    --footer-font-color:white; */

    /* --footer-bg-color-from:rgb(35,35,150);
    --footer-bg-color-to:rgb(90,155,210);
    --footer-font-color:white; */

    /* --footer-bg-color-from:darkgreen;
    --footer-bg-color-to:darkseagreen;
    --footer-font-color:white; */

    /* --footer-bg-color-from:brown;
    --footer-bg-color-to:tan;
    --footer-font-color:white; */

    --footer-bg-color-from:#006699;
    --footer-bg-color-to:#61a3ff;
    --footer-bg-color-to:#fcff59;
    --footer-font-color:black;

    --popup-msg-font-color:navy;
    --popup-msg-border-color:navy;
    --popup-msg-background-color:beige;
    --popup-message-max-width:100ch;

    color:lightyellow
}
/* Ctrl + k + 0 */
/* Ctrl + k + j */
*{
    margin:0;
    padding:0;
}
h2,h3,p{
    padding-top:10px;
    padding-bottom:5px;
}
.grid-item{
    padding:20px;
}
ul{
    padding-left:20px;
}
li{
    padding-left:20px;
}
ul > li{
    padding-left:0px;
}
ul > li > ul{
    padding-left:40px;
}
*,
*:before,
*:after
{
    box-sizing: border-box;
}
h1{
    margin:0;
}
h2{
    margin:0;
}
h3{
    margin:0;
}
h4{
    margin:0;
}
html, body {
    height:100%;
}
body{
    display:flex;
    flex-direction: column;
    font-family:'Dosis';
    color:var(--color);
    background-color: var(--background-color);
}
body::-webkit-scrollbar{
    display:none;
}
.mySEOelement{
    position:fixed;
    top:0;
    left:0;
    opacity:0;
    width:1px;
    height:1px;
    z-index: -1;
}


.site-content-wrapper{
    display:flex;
    flex-direction: column;
    flex: 1 0 auto;
}
.site-content-main{
    /* border: 1px dashed blue; */
}

.grid-area-class{
    display:grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit,minmax(320px,45%));
    /* grid-template-areas: 
        "area-02 area-02 area-03 area-03"
        "area-04 area-04 area-05 area-05"
        "area-06 area-06 area-07 area-07"
        "area-08 area-08 area-09 area-09"
        "area-10 area-10 area-11 area-11"; */
    /* grid-template-rows: max-content; */
    gap:3px;
    justify-content: center;
    /* border: 1px solid blue; */
    /* box-shadow: 1px 1px turquoise; */
}
.grid-area-class > div{
    /* border: 1px solid red; */
    box-shadow: 1px 1px #00CCFF;
    /* display:flex; */
    /* width:100%; */
}
.css-examples{
    /* position:relative; */
    display:grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(auto-fit,minmax(320px,33%)); */
    /* grid-template-rows: max-content; */
    gap:10px;
    justify-content: center;
    /* border: 1px solid chartreuse; */
    /* box-shadow: 1px 1px turquoise; */
    margin-bottom:10px;
    margin-left:10px;
}
.css-examples > div{
    box-shadow: 2px 2px white;
    padding:10px;
    margin-left:10px;
}
.css-examples-observed-section{
    /* background-color: rgba(240, 40, 190, 1); */
    /* background-color: rgba(255, 255, 255, 1); */
    /* color:navy; */
    transition: background-color 4s, border 0.1s;   
}
.observed-section{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}

header{
    position:sticky;
    top:0;
    left:0;
    width:100%;
    height:15%;
    z-index: 9999;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    color:var(--header-font-color);
    background-image: linear-gradient(to bottom, var(--header-bg-color-from),var(--header-bg-color-to));
    padding: 10px;

    /* in conjunction with position:absolute in children, allows bottom:0; alignment.*/
    /* position:relative;  */

}
header > .current-date-time{
    opacity:1;
    /* border:1px solid red; */
    bottom: 0;
    margin-bottom: 10px;
    color:chartreuse;
    font-weight: bold;
    font-size: 1.2rem;

    /* in conjunction with position:relative in parent, allows bottom:0; alignment.*/
    /* position:absolute;  */

}
header > .header-nav-container{
    display:none;
    /* border: 1px solid chartreuse; */
    position:relative;
    bottom: 0;
}
header > .header-nav-container > nav{
    /* border: 1px solid red; */
    position:absolute;
    bottom: 0;
}

footer{
    flex-shrink: 0;
    color:var(--footer-font-color);
    background-image: linear-gradient(to bottom, var(--footer-bg-color-from),var(--footer-bg-color-to));
    padding:30px;
    white-space: nowrap;
}
footer > div > div{
    /* border: 1px solid white; */
    padding:3px;
}
.footer-wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
}
address{
    /* border: 1px solid white; */
    display:flex;
}
address > div{
    /* border: 1px solid white; */
    padding: 10px;
}
address > div > a{
    color:inherit;
    text-decoration: none;
}

.popup-message{
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    max-width:var(--popup-message-max-width);
    padding:10px;
    color:var(--popup-msg-font-color);
    border: 3px solid var(--popup-msg-border-color);
    background-color: var(--popup-msg-background-color);
    z-index: 9999;
}
.popup-message-close-dot{
    background-color: red;
    border-radius: 50%;
    width:15px;
    aspect-ratio: 1/1;
    float:right;
    cursor:pointer;
}

.marketing-deck-01{
    display:flex;
    flex-direction: column;
    text-align: center;
    /* border:0px solid chartreuse; */
}
.marketing-deck-01 > a {
    /* background-color: pink; */
    max-width: max-content;
    margin:auto;
}
.marketing-deck-01 > a > button{
    color:navy;
    background-color: white;
    /* text-decoration: none; */
    /* border:0px solid yellow; */
    cursor: pointer;
}

.NO-area-01{
    grid-area: area-01;
    /* grid-template-columns: repeat (auto-fill,minmax(320px,20%)); */
}
.NO-area-02{
    grid-area: area-02;
}
.NO-area-03{
    grid-area: area-03;
}
.NO-area-04{
    grid-area: area-04;
}
.NO-area-05{
    grid-area: area-05;
}
.NO-area-06{
    grid-area: area-06;
}
.NO-area-07{
    grid-area: area-07;
}
.NO-area-08{
    grid-area: area-08;
}
.NO-area-09{
    grid-area: area-09;
}
.NO-area-10{
    grid-area: area-10;
}
.NO-area-11{
    grid-area: area-11;
}
.NO-area-12{
    grid-area: area-12;
}

/* FLIP TILES */
.NO-section-flip-tiles{
    /* background-color: white;     */
    /* height:40vh;   */

    display:grid;
    grid-template-columns: repeat (auto-fill,minmax(320px,33%));
    grid-template-rows: auto;

    /* padding: 20px; */
    gap:10px;

    /* justify-self: center; */

    /* user-select: none; */
    border:1px solid chartreuse;
}
.flip-tiles-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(305px,16%));
    grid-template-rows: auto;
    justify-content: center;
    margin:auto;
    /* width:100%; */
    /* border:1px solid red; */
    border-bottom: 1px solid turquoise;
}
.flip-tile {
    /* background-color: transparent; */
    max-width: 305px;
    aspect-ratio: 1/1;
    /* height: 250px; */
    /* perspective: 1000px; */

    /* margin:auto; */
    /* justify-items: center; */
    /* display:inline-block; */
    /* padding:3px; */
    /* border:1px solid yellow; */
}
.flip-tile-inner {
    /* position: relative; */
    width: 100%;
    height: 100%;
    /* text-align: center; */
    transition: transform .8s;
    transform-style:preserve-3d;
    /* padding:3px; */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    /* border: 1px solid white; */
    /* margin:5px; */
}
.flip-tile:hover .flip-tile-inner {
    transform: rotateY(180deg);
    transition: z-index 0.8s;
    z-index:99;
}
.flip-tile:hover .flipH2 {
    opacity: 0; /* etc... */
    transition: opacity 0.8s;
}
.flip-tile-front, .flip-tile-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-tile-front {
    /* background-color: #bbb; */
    color: white;
    color:chartreuse;
    /* background-color:rgba(0, 50, 150, 0.5); */
}
.flip-tile-front > img {
    /* max-width:305px; */
}
.flip-tile-back {
    color: white;
    transform: rotateY(180deg);
    /* background:rgba(0, 50, 150, 0.5); */
}
/* FLIP TILES */


/* TYPEWRITER TEXT ANIMATION */
.typewriter-text-animation{
    display:block;
    align-items: left;
    /* color:chartreuse;  */
    font-family:"Source Code Pro",monospace;
    min-height:1.6rem;
    min-width:270px;
    /* max-width:555px; */
    font-size: 1.5rem;
    /* margin-left:45px; */
    /* padding-bottom: 3px; */
    border:1px solid white;
}
/* TYPEWRITER TEXT ANIMATION */

.opacity0{
    opacity: 0;
    transition-property: opacity;
    transition-duration: 4s;
    transition-delay: 0.1s
}
.opacity1{
    opacity: 1;
    transition-property: opacity;
    transition-duration: 4s;
    transition-delay: 0.1s;
}

/* #box {
    background-color: rgba(40, 40, 190, 1);
    border: 4px solid rgb(20, 20, 120);
    transition: background-color 4s, border 0.1s;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .vertical {
    color: white;
    font: 32px "Arial";
  }
  
  .extra {
    width: 350px;
    height: 350px;
    margin-top: 10px;
    border: 4px solid rgb(20, 20, 120);
    text-align: center;
    padding: 20px;
  }
   */

.stripe-link{
    min-height:2rem;
    background-color: var(--header-bg-color-to);
    background-color: beige;
    color:navy;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-left:20px;
    padding-right:20px;
    border-radius: 15px;
}
.stripe-link:hover{
    cursor:pointer;
}

.table-contact-cell{
    padding-left:3px;
    padding-right:3px;
}

.flipH2{
    position:absolute;
    right:10px;
    bottom:5px;
    color:navy;
}

/* .area:hover{

}
.area:hover .area-content{
    height: 100%;
    transition: height 100%;
    opacity:1;
    transition: opacity 0.8s;

    max-width: 305px;

    opacity: 1;
    transition-property: opacity;
    transition-duration: 0s;
    transition-delay: 0.1s;

}
.area-content{
    height:0;
    opacity:0%;
    max-width: 305px;
    aspect-ratio: 1/1;
    z-index: 99;
} */
.area-content{
    display:none;
}

.popup-courses-close-button{
    display:none;
    position:relative;
    top:10px;
    z-index: 20000;
    background-color: crimson; /* Green */
    border: none;
    border-radius: 3px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}
.popup-courses{
    display:none;
    height:100vh;
    width:100vw;
    position:fixed;
    top:0;
    left:-2000;
    padding:5px;
    background-color:#006699;
    z-index: 10000;
    overflow-y: scroll;
}

.popup-popular-events-close-button{
    display:none;
    position:relative;
    top:10px;
    z-index: 20000;
    background-color: crimson; /* Green */
    border: none;
    border-radius: 3px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}
.popup-popular-events{
    display:none;
    height:100vh;
    width:100vw;
    position:fixed;
    top:0;
    left:-2000;
    padding:5px;
    background-color:#006699;
    z-index: 10000;
    overflow-y: scroll;
}
.popular-events-table{
    margin-top:5px;
    padding-top:5px;
}

.popup-course-records-close-button{
    display:none;
    position:relative;
    top:10px;
    z-index: 20000;
    background-color: crimson; /* Green */
    border: none;
    border-radius: 3px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}
.popup-course-records{
    display:none;
    height:100vh;
    width:100vw;
    position:fixed;
    top:0;
    left:-2000;
    padding:5px;
    background-color:#006699;
    z-index: 10000;
    overflow-y: scroll;
}

.popup-c2s-training-close-button{
    display:none;
    position:relative;
    top:10px;
    z-index: 20000;
    background-color: crimson; /* Green */
    border: none;
    border-radius: 3px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}
.popup-c2s-training{
    display:none;
    margin-left:auto;
    margin-right:auto;
    height:100vh;
    width:100vw;
    position:fixed;
    top:0;
    left:-2000;
    padding:5px;
    background-color:#006699;
    z-index: 10000;
    overflow-y: scroll;
}

.centre{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.popup-courses-open{
    cursor:pointer;
}
.popup-popular-events-open{
    cursor:pointer;
}
.popup-race-reports-open{
    cursor:pointer;
}
.popup-course-records-open{
    cursor:pointer;
}
.popup-course-records-open{
    cursor:pointer;
}
.popup-c2s-training-open{
    cursor:pointer;
}
.popup-our-history-open{
    cursor:pointer;
}

.exit-button{
    position:fixed;
    top:0;
    right:0;
    width:50px;
    border-radius: 5px;
    cursor:pointer;
}

.fade-in-element {
    animation:fadeInElement 1s;
}
@keyframes fadeInElement {
    0%{opacity:0};
    100%{opacity:1};
}